<!DOCTYPE html>
<html>
<!-- Mirrored from rrok.game/seasons/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 18 Apr 2022 17:34:41 GMT -->

<head>
    <meta charSet="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <style data-href="/styles.f89727d08af2a25bbe7b.css" data-identity="gatsby-global-css">
        @import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&amp;display=swap);

        @font-face {
            font-family: brookline;
            font-style: medium;
            src: local("brookline"), url(/fonts/Brookline.ttf)
        }

        @font-face {
            font-family: gothic;
            font-style: medium;
            src: local("gothic"), url(/fonts/GOTHIC.TTF)
        }

        @font-face {
            font-family: gothic-bold;
            font-style: normal;
            src: local("gothic-bold"), url(/fonts/GOTHICB.TTF)
        }

        @font-face {
            font-family: gothic-bold-italic;
            font-style: normal;
            src: local("gothic-bold-italic"), url(/fonts/GOTHICBI.TTF)
        }

        @font-face {
            font-family: gothic-italic;
            font-style: normal;
            src: local("gothic-italic"), url(/fonts/GOTHICI.TTF)
        }

        @font-face {
            font-family: staatliches;
            font-style: normal;
            src: local("staatliches"), url(/fonts/Staatliches.ttf)
        }

        @font-face {
            font-family: bebasneue;
            font-style: normal;
            src: local("bebasneue"), url(/fonts/BebasNeue.ttf)
        }

        @font-face {
            font-family: poppins;
            font-style: normal;
            src: local("poppins"), url(/fonts/Poppins.ttf)
        }

        /*! tailwindcss v2.2.19 | MIT License | https://tailwindcss.com */

        /*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
        html {
            -webkit-text-size-adjust: 100%;
            line-height: 1.15;
            -moz-tab-size: 4;
            -o-tab-size: 4;
            tab-size: 4
        }

        body {
            font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
            margin: 0
        }

        hr {
            color: inherit;
            height: 0
        }

        abbr[title] {
            -webkit-text-decoration: underline dotted;
            text-decoration: underline dotted
        }

        b,
        strong {
            font-weight: bolder
        }

        code,
        kbd,
        pre,
        samp {
            font-family: ui-monospace, SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
            font-size: 1em
        }

        small {
            font-size: 80%
        }

        sub,
        sup {
            font-size: 75%;
            line-height: 0;
            position: relative;
            vertical-align: baseline
        }

        sub {
            bottom: -.25em
        }

        sup {
            top: -.5em
        }

        table {
            border-color: inherit;
            text-indent: 0
        }

        button,
        input,
        optgroup,
        select,
        textarea {
            font-family: inherit;
            font-size: 100%;
            line-height: 1.15;
            margin: 0
        }

        button,
        select {
            text-transform: none
        }

        [type=button],
        button {
            -webkit-appearance: button
        }

        legend {
            padding: 0
        }

        progress {
            vertical-align: baseline
        }

        summary {
            display: list-item
        }

        blockquote,
        dd,
        dl,
        figure,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        hr,
        p,
        pre {
            margin: 0
        }

        button {
            background-color: transparent;
            background-image: none
        }

        fieldset,
        ol,
        ul {
            margin: 0;
            padding: 0
        }

        ol,
        ul {
            list-style: none
        }

        html {
            font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
            line-height: 1.5
        }

        body {
            font-family: inherit;
            line-height: inherit
        }

        *,
        :after,
        :before {
            border: 0 solid;
            box-sizing: border-box
        }

        hr {
            border-top-width: 1px
        }

        img {
            border-style: solid
        }

        textarea {
            resize: vertical
        }

        input:-ms-input-placeholder,
        textarea:-ms-input-placeholder {
            color: #9ca3af;
            opacity: 1
        }

        input::placeholder,
        textarea::placeholder {
            color: #9ca3af;
            opacity: 1
        }

        [role=button],
        button {
            cursor: pointer
        }

        table {
            border-collapse: collapse
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-size: inherit;
            font-weight: inherit
        }

        a {
            color: inherit;
            text-decoration: inherit
        }

        button,
        input,
        optgroup,
        select,
        textarea {
            color: inherit;
            line-height: inherit;
            padding: 0
        }

        code,
        kbd,
        pre,
        samp {
            font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace
        }

        audio,
        canvas,
        embed,
        iframe,
        img,
        object,
        svg,
        video {
            display: block;
            vertical-align: middle
        }

        img,
        video {
            height: auto;
            max-width: 100%
        }

        [hidden] {
            display: none
        }

        *,
        :after,
        :before {
            --tw-border-opacity: 1;
            border-color: rgba(229, 231, 235, var(--tw-border-opacity))
        }

        .container {
            width: 100%
        }

        @media (min-width:350px) {
            .container {
                max-width: 350px
            }
        }

        @media (min-width:400px) {
            .container {
                max-width: 400px
            }
        }

        @media (min-width:648px) {
            .container {
                max-width: 648px
            }
        }

        @media (min-width:764px) {
            .container {
                max-width: 764px
            }
        }

        @media (min-width:1024px) {
            .container {
                max-width: 1024px
            }
        }

        @media (min-width:1366px) {
            .container {
                max-width: 1366px
            }
        }

        @media (min-width:1680px) {
            .container {
                max-width: 1680px
            }
        }

        .absolute {
            position: absolute
        }

        .relative {
            position: relative
        }

        .top-0 {
            top: 0
        }

        .top-12 {
            top: 3rem
        }

        .top-14 {
            top: 3.5rem
        }

        .top-28 {
            top: 7rem
        }

        .top-29 {
            top: 7.5rem
        }

        .top-32 {
            top: 8rem
        }

        .top-1\/2 {
            top: 50%
        }

        .top-1\/3 {
            top: 33.333333%
        }

        .right-0 {
            right: 0
        }

        .right-4 {
            right: 1rem
        }

        .right-5 {
            right: 1.25rem
        }

        .right-1\/4 {
            right: 25%
        }

        .bottom-0 {
            bottom: 0
        }

        .bottom-4 {
            bottom: 1rem
        }

        .bottom-5 {
            bottom: 1.25rem
        }

        .bottom-6 {
            bottom: 1.5rem
        }

        .bottom-1\/2 {
            bottom: 50%
        }

        .left-0 {
            left: 0
        }

        .left-2 {
            left: .5rem
        }

        .left-4 {
            left: 1rem
        }

        .left-10 {
            left: 2.5rem
        }

        .-left-2 {
            left: -.5rem
        }

        .left-1\/2 {
            left: 50%
        }

        .left-1\/3 {
            left: 33.333333%
        }

        .left-2\/3 {
            left: 66.666667%
        }

        .left-1\/4 {
            left: 25%
        }

        .z-0 {
            z-index: 0
        }

        .z-10 {
            z-index: 10
        }

        .z-50 {
            z-index: 50
        }

        .col-start-1 {
            grid-column-start: 1
        }

        .col-start-2 {
            grid-column-start: 2
        }

        .col-start-3 {
            grid-column-start: 3
        }

        .col-start-4 {
            grid-column-start: 4
        }

        .col-start-5 {
            grid-column-start: 5
        }

        .col-start-6 {
            grid-column-start: 6
        }

        .col-start-7 {
            grid-column-start: 7
        }

        .col-end-8 {
            grid-column-end: 8
        }

        .row-start-1 {
            grid-row-start: 1
        }

        .row-start-2 {
            grid-row-start: 2
        }

        .row-start-3 {
            grid-row-start: 3
        }

        .row-start-4 {
            grid-row-start: 4
        }

        .row-start-5 {
            grid-row-start: 5
        }

        .row-start-6 {
            grid-row-start: 6
        }

        .row-end-6 {
            grid-row-end: 6
        }

        .m-auto {
            margin: auto
        }

        .mx-auto {
            margin-left: auto;
            margin-right: auto
        }

        .my-8 {
            margin-bottom: 2rem;
            margin-top: 2rem
        }

        .mt-0 {
            margin-top: 0
        }

        .mt-2 {
            margin-top: .5rem
        }

        .mt-3 {
            margin-top: .75rem
        }

        .mt-4 {
            margin-top: 1rem
        }

        .mt-8 {
            margin-top: 2rem
        }

        .mt-9 {
            margin-top: 2.25rem
        }

        .mt-10 {
            margin-top: 2.5rem
        }

        .mt-12 {
            margin-top: 3rem
        }

        .mt-16 {
            margin-top: 4rem
        }

        .mt-20 {
            margin-top: 5rem
        }

        .-mt-1 {
            margin-top: -.25rem
        }

        .mr-2 {
            margin-right: .5rem
        }

        .mr-3 {
            margin-right: .75rem
        }

        .mr-6 {
            margin-right: 1.5rem
        }

        .mb-3 {
            margin-bottom: .75rem
        }

        .mb-24 {
            margin-bottom: 6rem
        }

        .ml-1 {
            margin-left: .25rem
        }

        .block {
            display: block
        }

        .flex {
            display: flex
        }

        .table {
            display: table
        }

        .grid {
            display: grid
        }

        .hidden {
            display: none
        }

        .h-4 {
            height: 1rem
        }

        .h-5 {
            height: 1.25rem
        }

        .h-6 {
            height: 1.5rem
        }

        .h-8 {
            height: 2rem
        }

        .h-10 {
            height: 2.5rem
        }

        .h-12 {
            height: 3rem
        }

        .h-16 {
            height: 4rem
        }

        .h-24 {
            height: 6rem
        }

        .h-2\/3 {
            height: 66.666667%
        }

        .h-full {
            height: 100%
        }

        .h-screen {
            height: 100vh
        }

        .min-h-header {
            min-height: 30rem
        }

        .w-1 {
            width: .25rem
        }

        .w-4 {
            width: 1rem
        }

        .w-5 {
            width: 1.25rem
        }

        .w-6 {
            width: 1.5rem
        }

        .w-8 {
            width: 2rem
        }

        .w-10 {
            width: 2.5rem
        }

        .w-12 {
            width: 3rem
        }

        .w-16 {
            width: 4rem
        }

        .w-20 {
            width: 5rem
        }

        .w-24 {
            width: 6rem
        }

        .w-36 {
            width: 9rem
        }

        .w-48 {
            width: 12rem
        }

        .w-52 {
            width: 13rem
        }

        .w-1\/2 {
            width: 50%
        }

        .w-1\/3 {
            width: 33.333333%
        }

        .w-2\/3 {
            width: 66.666667%
        }

        .w-3\/4 {
            width: 75%
        }

        .w-1\/5 {
            width: 20%
        }

        .w-2\/5 {
            width: 40%
        }

        .w-4\/5 {
            width: 80%
        }

        .w-4\/12 {
            width: 33.333333%
        }

        .w-8\/12 {
            width: 66.666667%
        }

        .w-full {
            width: 100%
        }

        .w-max {
            width: -webkit-max-content;
            width: -moz-max-content;
            width: max-content
        }

        .max-w-full {
            max-width: 100%
        }

        .flex-shrink-0 {
            flex-shrink: 0
        }

        .flex-grow {
            flex-grow: 1
        }

        .transform {
            --tw-translate-x: 0;
            --tw-translate-y: 0;
            --tw-rotate: 0;
            --tw-skew-x: 0;
            --tw-skew-y: 0;
            --tw-scale-x: 1;
            --tw-scale-y: 1;
            transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
        }

        .translate-x-8 {
            --tw-translate-x: 2rem
        }

        .translate-x-1\/2 {
            --tw-translate-x: 50%
        }

        .translate-x-1\/3 {
            --tw-translate-x: 33.333333%
        }

        .-translate-x-1\/2 {
            --tw-translate-x: -50%
        }

        .-translate-x-1\/4 {
            --tw-translate-x: -25%
        }

        .-translate-x-full {
            --tw-translate-x: -100%
        }

        .translate-y-2 {
            --tw-translate-y: 0.5rem
        }

        .translate-y-3 {
            --tw-translate-y: 0.75rem
        }

        .translate-y-1\/4 {
            --tw-translate-y: 25%
        }

        .-translate-y-1\/2 {
            --tw-translate-y: -50%
        }

        .-translate-y-1\/3 {
            --tw-translate-y: -33.333333%
        }

        .rotate-0 {
            --tw-rotate: 0deg
        }

        .rotate-90 {
            --tw-rotate: 90deg
        }

        .scale-105 {
            --tw-scale-x: 1.05;
            --tw-scale-y: 1.05
        }

        @keyframes spin {
            to {
                transform: rotate(1turn)
            }
        }

        @keyframes ping {

            75%,
            to {
                opacity: 0;
                transform: scale(2)
            }
        }

        @keyframes pulse {
            50% {
                opacity: .5
            }
        }

        @keyframes bounce {

            0%,
            to {
                animation-timing-function: cubic-bezier(.8, 0, 1, 1);
                transform: translateY(-25%)
            }

            50% {
                animation-timing-function: cubic-bezier(0, 0, .2, 1);
                transform: none
            }
        }

        .cursor-pointer {
            cursor: pointer
        }

        .resize {
            resize: both
        }

        .grid-cols-1 {
            grid-template-columns: repeat(1, minmax(0, 1fr))
        }

        .grid-cols-2 {
            grid-template-columns: repeat(2, minmax(0, 1fr))
        }

        .grid-cols-3 {
            grid-template-columns: repeat(3, minmax(0, 1fr))
        }

        .grid-cols-7 {
            grid-template-columns: repeat(7, minmax(0, 1fr))
        }

        .grid-rows-6 {
            grid-template-rows: repeat(6, minmax(0, 1fr))
        }

        .flex-col {
            flex-direction: column
        }

        .items-start {
            align-items: flex-start
        }

        .items-end {
            align-items: flex-end
        }

        .items-center {
            align-items: center
        }

        .justify-start {
            justify-content: flex-start
        }

        .justify-end {
            justify-content: flex-end
        }

        .justify-center {
            justify-content: center
        }

        .justify-between {
            justify-content: space-between
        }

        .justify-around {
            justify-content: space-around
        }

        .gap-1 {
            gap: .25rem
        }

        .gap-2 {
            gap: .5rem
        }

        .gap-3 {
            gap: .75rem
        }

        .gap-4 {
            gap: 1rem
        }

        .gap-5 {
            gap: 1.25rem
        }

        .gap-6 {
            gap: 1.5rem
        }

        .gap-8 {
            gap: 2rem
        }

        .gap-10 {
            gap: 2.5rem
        }

        .gap-12 {
            gap: 3rem
        }

        .space-y-3>:not([hidden])~:not([hidden]) {
            --tw-space-y-reverse: 0;
            margin-bottom: calc(.75rem*var(--tw-space-y-reverse));
            margin-top: calc(.75rem*(1 - var(--tw-space-y-reverse)))
        }

        .overflow-hidden {
            overflow: hidden
        }

        .overflow-x-auto {
            overflow-x: auto
        }

        .overflow-y-hidden {
            overflow-y: hidden
        }

        .whitespace-nowrap {
            white-space: nowrap
        }

        .break-words {
            overflow-wrap: break-word
        }

        .break-all {
            word-break: break-all
        }

        .rounded-md {
            border-radius: .375rem
        }

        .rounded-lg {
            border-radius: .5rem
        }

        .rounded-xl {
            border-radius: .75rem
        }

        .rounded-3xl {
            border-radius: 1.5rem
        }

        .rounded-full {
            border-radius: 9999px
        }

        .rounded-t-lg {
            border-top-left-radius: .5rem;
            border-top-right-radius: .5rem
        }

        .rounded-b-3xl {
            border-bottom-left-radius: 1.5rem;
            border-bottom-right-radius: 1.5rem
        }

        .border-2 {
            border-width: 2px
        }

        .border-8 {
            border-width: 8px
        }

        .border {
            border-width: 1px
        }

        .border-r-4 {
            border-right-width: 4px
        }

        .border-r {
            border-right-width: 1px
        }

        .border-b-2 {
            border-bottom-width: 2px
        }

        .border-b-4 {
            border-bottom-width: 4px
        }

        .border-l-4 {
            border-left-width: 4px
        }

        .border-white {
            --tw-border-opacity: 1;
            border-color: rgba(255, 255, 255, var(--tw-border-opacity))
        }

        .border-blue-700 {
            --tw-border-opacity: 1;
            border-color: rgba(29, 78, 216, var(--tw-border-opacity))
        }

        .border-app-purple {
            --tw-border-opacity: 1;
            border-color: rgba(26, 4, 49, var(--tw-border-opacity))
        }

        .border-app-gray-light {
            --tw-border-opacity: 1;
            border-color: rgba(194, 194, 194, var(--tw-border-opacity))
        }

        .bg-black {
            --tw-bg-opacity: 1;
            background-color: rgba(0, 0, 0, var(--tw-bg-opacity))
        }

        .bg-white {
            --tw-bg-opacity: 1;
            background-color: rgba(255, 255, 255, var(--tw-bg-opacity))
        }

        .bg-blue-500 {
            --tw-bg-opacity: 1;
            background-color: rgba(59, 130, 246, var(--tw-bg-opacity))
        }

        .bg-app-orange-trans {
            background-color: #b56a47c9
        }

        .bg-app-blue-dark {
            --tw-bg-opacity: 1;
            background-color: rgba(41, 54, 80, var(--tw-bg-opacity))
        }

        .bg-app-blue-light {
            --tw-bg-opacity: 1;
            background-color: rgba(242, 248, 255, var(--tw-bg-opacity))
        }

        .bg-gradient-to-r {
            background-image: linear-gradient(to right, var(--tw-gradient-stops))
        }

        .bg-gradient-to-b {
            background-image: linear-gradient(to bottom, var(--tw-gradient-stops))
        }

        .from-app-orange-dark {
            --tw-gradient-from: #8d5440;
            --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(141, 84, 64, 0))
        }

        .to-app-orange {
            --tw-gradient-to: #c67955
        }

        .p-2 {
            padding: .5rem
        }

        .p-8 {
            padding: 2rem
        }

        .px-0 {
            padding-left: 0;
            padding-right: 0
        }

        .px-1 {
            padding-left: .25rem;
            padding-right: .25rem
        }

        .px-2 {
            padding-left: .5rem;
            padding-right: .5rem
        }

        .px-3 {
            padding-left: .75rem;
            padding-right: .75rem
        }

        .px-4 {
            padding-left: 1rem;
            padding-right: 1rem
        }

        .px-5 {
            padding-left: 1.25rem;
            padding-right: 1.25rem
        }

        .px-6 {
            padding-left: 1.5rem;
            padding-right: 1.5rem
        }

        .px-8 {
            padding-left: 2rem;
            padding-right: 2rem
        }

        .px-10 {
            padding-left: 2.5rem;
            padding-right: 2.5rem
        }

        .px-12 {
            padding-left: 3rem;
            padding-right: 3rem
        }

        .py-1 {
            padding-bottom: .25rem;
            padding-top: .25rem
        }

        .py-2 {
            padding-bottom: .5rem;
            padding-top: .5rem
        }

        .py-4 {
            padding-bottom: 1rem;
            padding-top: 1rem
        }

        .py-8 {
            padding-bottom: 2rem;
            padding-top: 2rem
        }

        .py-10 {
            padding-bottom: 2.5rem;
            padding-top: 2.5rem
        }

        .py-24 {
            padding-bottom: 6rem;
            padding-top: 6rem
        }

        .pt-2 {
            padding-top: .5rem
        }

        .pt-3 {
            padding-top: .75rem
        }

        .pt-4 {
            padding-top: 1rem
        }

        .pt-6 {
            padding-top: 1.5rem
        }

        .pt-10 {
            padding-top: 2.5rem
        }

        .pt-12 {
            padding-top: 3rem
        }

        .pt-20 {
            padding-top: 5rem
        }

        .pt-26 {
            padding-top: 6.7rem
        }

        .pt-32 {
            padding-top: 8rem
        }

        .pb-0 {
            padding-bottom: 0
        }

        .pb-1 {
            padding-bottom: .25rem
        }

        .pb-2 {
            padding-bottom: .5rem
        }

        .pb-3 {
            padding-bottom: .75rem
        }

        .pb-4 {
            padding-bottom: 1rem
        }

        .pb-5 {
            padding-bottom: 1.25rem
        }

        .pb-6 {
            padding-bottom: 1.5rem
        }

        .pb-8 {
            padding-bottom: 2rem
        }

        .pb-10 {
            padding-bottom: 2.5rem
        }

        .pb-12 {
            padding-bottom: 3rem
        }

        .pb-14 {
            padding-bottom: 3.5rem
        }

        .pb-20 {
            padding-bottom: 5rem
        }

        .pl-4 {
            padding-left: 1rem
        }

        .text-left {
            text-align: left
        }

        .text-center {
            text-align: center
        }

        .text-right {
            text-align: right
        }

        .font-brookline {
            font-family: brookline
        }

        .font-gothic-bold {
            font-family: gothic-bold
        }

        .font-gothic-italic {
            font-family: gothic-italic
        }

        .font-staatliches {
            font-family: staatliches
        }

        .font-bebasneue {
            font-family: bebasneue
        }

        .font-poppins {
            font-family: poppins
        }

        .text-sm {
            font-size: .875rem;
            line-height: 1.25rem
        }

        .text-base {
            font-size: 1rem;
            line-height: 1.5rem
        }

        .text-lg {
            font-size: 1.125rem
        }

        .text-lg,
        .text-xl {
            line-height: 1.75rem
        }

        .text-xl {
            font-size: 1.25rem
        }

        .text-2xl {
            font-size: 1.5rem;
            line-height: 2rem
        }

        .text-3xl {
            font-size: 1.875rem;
            line-height: 2.25rem
        }

        .text-4xl {
            font-size: 2.25rem;
            line-height: 2.5rem
        }

        .text-5xl {
            font-size: 3rem;
            line-height: 1
        }

        .text-6xl {
            font-size: 3.75rem;
            line-height: 1
        }

        .font-thin {
            font-weight: 100
        }

        .font-normal {
            font-weight: 400
        }

        .font-bold {
            font-weight: 700
        }

        .uppercase {
            text-transform: uppercase
        }

        .leading-4 {
            line-height: 1rem
        }

        .leading-7 {
            line-height: 1.75rem
        }

        .tracking-wider {
            letter-spacing: .05em
        }

        .text-black {
            --tw-text-opacity: 1;
            color: rgba(0, 0, 0, var(--tw-text-opacity))
        }

        .text-white {
            --tw-text-opacity: 1;
            color: rgba(255, 255, 255, var(--tw-text-opacity))
        }

        .text-gray-200 {
            --tw-text-opacity: 1;
            color: rgba(229, 231, 235, var(--tw-text-opacity))
        }

        .text-gray-300 {
            --tw-text-opacity: 1;
            color: rgba(209, 213, 219, var(--tw-text-opacity))
        }

        .text-app-purple-100 {
            --tw-text-opacity: 1;
            color: rgba(43, 29, 92, var(--tw-text-opacity))
        }

        .text-app-blue-dark {
            --tw-text-opacity: 1;
            color: rgba(41, 54, 80, var(--tw-text-opacity))
        }

        .text-app-gray-100 {
            --tw-text-opacity: 1;
            color: rgba(191, 193, 199, var(--tw-text-opacity))
        }

        .text-app-gray {
            --tw-text-opacity: 1;
            color: rgba(120, 120, 120, var(--tw-text-opacity))
        }

        .no-underline {
            text-decoration: none
        }

        *,
        :after,
        :before {
            --tw-shadow: 0 0 #0000
        }

        .shadow-lg {
            --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .05)
        }

        .shadow-inner-xl,
        .shadow-lg {
            box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
        }

        .shadow-inner-xl {
            --tw-shadow: inset 1px 1px 6px 6px rgba(0, 0, 0, .3)
        }

        *,
        :after,
        :before {
            --tw-ring-inset: var(--tw-empty,
                    /*!*/
                    /*!*/
                );
            --tw-ring-offset-width: 0px;
            --tw-ring-offset-color: #fff;
            --tw-ring-color: rgba(59, 130, 246, .5);
            --tw-ring-offset-shadow: 0 0 #0000;
            --tw-ring-shadow: 0 0 #0000
        }

        .duration-100 {
            transition-duration: .1s
        }

        .duration-500 {
            transition-duration: .5s
        }

        .font-bebas {
            font-family: Bebas Neue, cursive;
            font-style: normal
        }

        .menu-links li a:hover {
            border-bottom: 2px solid #fff
        }

        @media (min-width:400px) {
            .tiny\:container {
                width: 100%
            }

            @media (min-width:350px) {
                .tiny\:container {
                    max-width: 350px
                }
            }

            @media (min-width:400px) {
                .tiny\:container {
                    max-width: 400px
                }
            }

            @media (min-width:648px) {
                .tiny\:container {
                    max-width: 648px
                }
            }

            @media (min-width:764px) {
                .tiny\:container {
                    max-width: 764px
                }
            }

            @media (min-width:1024px) {
                .tiny\:container {
                    max-width: 1024px
                }
            }

            @media (min-width:1366px) {
                .tiny\:container {
                    max-width: 1366px
                }
            }

            @media (min-width:1680px) {
                .tiny\:container {
                    max-width: 1680px
                }
            }

            .tiny\:bottom-6 {
                bottom: 1.5rem
            }

            .tiny\:left-1\/2 {
                left: 50%
            }

            .tiny\:mt-4 {
                margin-top: 1rem
            }

            .tiny\:mt-10 {
                margin-top: 2.5rem
            }

            .tiny\:w-1\/2 {
                width: 50%
            }

            .tiny\:w-3\/5 {
                width: 60%
            }

            .tiny\:translate-x-5 {
                --tw-translate-x: 1.25rem
            }

            .tiny\:grid-cols-2 {
                grid-template-columns: repeat(2, minmax(0, 1fr))
            }

            .tiny\:gap-8 {
                gap: 2rem
            }

            .tiny\:p-8 {
                padding: 2rem
            }

            .tiny\:px-3 {
                padding-left: .75rem;
                padding-right: .75rem
            }

            .tiny\:px-4 {
                padding-left: 1rem;
                padding-right: 1rem
            }

            .tiny\:px-6 {
                padding-left: 1.5rem;
                padding-right: 1.5rem
            }

            .tiny\:px-8 {
                padding-left: 2rem;
                padding-right: 2rem
            }

            .tiny\:py-2 {
                padding-bottom: .5rem;
                padding-top: .5rem
            }

            .tiny\:pt-20 {
                padding-top: 5rem
            }

            .tiny\:text-3xl {
                font-size: 1.875rem;
                line-height: 2.25rem
            }

            .tiny\:text-4xl {
                font-size: 2.25rem;
                line-height: 2.5rem
            }
        }

        @media (min-width:648px) {
            .sm\:left-10 {
                left: 2.5rem
            }

            .sm\:block {
                display: block
            }

            .sm\:flex {
                display: flex
            }

            .sm\:grid {
                display: grid
            }

            .sm\:hidden {
                display: none
            }

            .sm\:h-8 {
                height: 2rem
            }

            .sm\:h-10 {
                height: 2.5rem
            }

            .sm\:h-12 {
                height: 3rem
            }

            .sm\:w-6 {
                width: 1.5rem
            }

            .sm\:w-8 {
                width: 2rem
            }

            .sm\:w-52 {
                width: 13rem
            }

            .sm\:w-2\/3 {
                width: 66.666667%
            }

            .sm\:w-3\/4 {
                width: 75%
            }

            .sm\:w-max {
                width: -webkit-max-content;
                width: -moz-max-content;
                width: max-content
            }

            .sm\:grid-cols-2 {
                grid-template-columns: repeat(2, minmax(0, 1fr))
            }

            .sm\:flex-row {
                flex-direction: row
            }

            .sm\:justify-around {
                justify-content: space-around
            }

            .sm\:gap-0 {
                gap: 0
            }

            .sm\:gap-3 {
                gap: .75rem
            }

            .sm\:p-6 {
                padding: 1.5rem
            }

            .sm\:px-0 {
                padding-left: 0;
                padding-right: 0
            }

            .sm\:px-10 {
                padding-left: 2.5rem;
                padding-right: 2.5rem
            }

            .sm\:py-0 {
                padding-bottom: 0
            }

            .sm\:pt-0,
            .sm\:py-0 {
                padding-top: 0
            }

            .sm\:pt-3 {
                padding-top: .75rem
            }

            .sm\:pt-26 {
                padding-top: 6.7rem
            }

            .sm\:pb-0 {
                padding-bottom: 0
            }

            .sm\:text-xl {
                font-size: 1.25rem;
                line-height: 1.75rem
            }

            .sm\:text-2xl {
                font-size: 1.5rem;
                line-height: 2rem
            }

            .sm\:text-3xl {
                font-size: 1.875rem;
                line-height: 2.25rem
            }
        }

        @media (min-width:764px) {
            .md\:top-29 {
                top: 7.5rem
            }

            .md\:top-32 {
                top: 8rem
            }

            .md\:top-1\/4 {
                top: 25%
            }

            .md\:right-12 {
                right: 3rem
            }

            .md\:bottom-4 {
                bottom: 1rem
            }

            .md\:bottom-6 {
                bottom: 1.5rem
            }

            .md\:left-12 {
                left: 3rem
            }

            .md\:mt-16 {
                margin-top: 4rem
            }

            .md\:block {
                display: block
            }

            .md\:flex {
                display: flex
            }

            .md\:hidden {
                display: none
            }

            .md\:h-10 {
                height: 2.5rem
            }

            .md\:h-20 {
                height: 5rem
            }

            .md\:h-3\/4 {
                height: 75%
            }

            .md\:w-16 {
                width: 4rem
            }

            .md\:w-20 {
                width: 5rem
            }

            .md\:w-24 {
                width: 6rem
            }

            .md\:w-28 {
                width: 7rem
            }

            .md\:w-1\/3 {
                width: 33.333333%
            }

            .md\:w-2\/3 {
                width: 66.666667%
            }

            .md\:w-10\/12 {
                width: 83.333333%
            }

            .md\:flex-row {
                flex-direction: row
            }

            .md\:gap-0 {
                gap: 0
            }

            .md\:gap-4 {
                gap: 1rem
            }

            .md\:rounded-xl {
                border-radius: .75rem
            }

            .md\:rounded-b-big {
                border-bottom-left-radius: 60px;
                border-bottom-right-radius: 60px
            }

            .md\:px-0 {
                padding-left: 0;
                padding-right: 0
            }

            .md\:px-4 {
                padding-left: 1rem;
                padding-right: 1rem
            }

            .md\:px-5 {
                padding-left: 1.25rem;
                padding-right: 1.25rem
            }

            .md\:px-10 {
                padding-left: 2.5rem;
                padding-right: 2.5rem
            }

            .md\:px-24 {
                padding-left: 6rem;
                padding-right: 6rem
            }

            .md\:py-0 {
                padding-bottom: 0;
                padding-top: 0
            }

            .md\:py-36 {
                padding-bottom: 9rem;
                padding-top: 9rem
            }

            .md\:pt-6 {
                padding-top: 1.5rem
            }

            .md\:text-lg {
                font-size: 1.125rem;
                line-height: 1.75rem
            }

            .md\:text-xl {
                font-size: 1.25rem;
                line-height: 1.75rem
            }

            .md\:text-2xl {
                font-size: 1.5rem;
                line-height: 2rem
            }

            .md\:text-4xl {
                font-size: 2.25rem;
                line-height: 2.5rem
            }

            .md\:shadow-none {
                --tw-shadow: 0 0 #0000
            }

            .md\:shadow-inner-xl,
            .md\:shadow-none {
                box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
            }

            .md\:shadow-inner-xl {
                --tw-shadow: inset 1px 1px 6px 6px rgba(0, 0, 0, .3)
            }
        }

        @media (min-width:1024px) {
            .lg\:container {
                width: 100%
            }

            @media (min-width:350px) {
                .lg\:container {
                    max-width: 350px
                }
            }

            @media (min-width:400px) {
                .lg\:container {
                    max-width: 400px
                }
            }

            @media (min-width:648px) {
                .lg\:container {
                    max-width: 648px
                }
            }

            @media (min-width:764px) {
                .lg\:container {
                    max-width: 764px
                }
            }

            @media (min-width:1024px) {
                .lg\:container {
                    max-width: 1024px
                }
            }

            @media (min-width:1366px) {
                .lg\:container {
                    max-width: 1366px
                }
            }

            @media (min-width:1680px) {
                .lg\:container {
                    max-width: 1680px
                }
            }

            .lg\:top-1\/4 {
                top: 25%
            }

            .lg\:bottom-10 {
                bottom: 2.5rem
            }

            .lg\:bottom-12 {
                bottom: 3rem
            }

            .lg\:my-12 {
                margin-bottom: 3rem;
                margin-top: 3rem
            }

            .lg\:mt-8 {
                margin-top: 2rem
            }

            .lg\:mr-4 {
                margin-right: 1rem
            }

            .lg\:block {
                display: block
            }

            .lg\:flex {
                display: flex
            }

            .lg\:hidden {
                display: none
            }

            .lg\:h-5 {
                height: 1.25rem
            }

            .lg\:h-6 {
                height: 1.5rem
            }

            .lg\:h-8 {
                height: 2rem
            }

            .lg\:h-10 {
                height: 2.5rem
            }

            .lg\:h-24 {
                height: 6rem
            }

            .lg\:h-full {
                height: 100%
            }

            .lg\:w-6 {
                width: 1.5rem
            }

            .lg\:w-8 {
                width: 2rem
            }

            .lg\:w-10 {
                width: 2.5rem
            }

            .lg\:w-29 {
                width: 7.5rem
            }

            .lg\:w-32 {
                width: 8rem
            }

            .lg\:w-40 {
                width: 10rem
            }

            .lg\:w-11\/12 {
                width: 91.666667%
            }

            .lg\:grid-cols-3 {
                grid-template-columns: repeat(3, minmax(0, 1fr))
            }

            .lg\:justify-around {
                justify-content: space-around
            }

            .lg\:gap-10 {
                gap: 2.5rem
            }

            .lg\:gap-12 {
                gap: 3rem
            }

            .lg\:px-1 {
                padding-left: .25rem;
                padding-right: .25rem
            }

            .lg\:px-12 {
                padding-left: 3rem;
                padding-right: 3rem
            }

            .lg\:pt-2 {
                padding-top: .5rem
            }

            .lg\:text-2xl {
                font-size: 1.5rem;
                line-height: 2rem
            }

            .lg\:text-3xl {
                font-size: 1.875rem;
                line-height: 2.25rem
            }

            .lg\:text-4xl {
                font-size: 2.25rem;
                line-height: 2.5rem
            }

            .lg\:text-5xl {
                font-size: 3rem;
                line-height: 1
            }

            .lg\:text-6xl {
                font-size: 3.75rem;
                line-height: 1
            }

            .lg\:text-8xl {
                font-size: 6rem;
                line-height: 1
            }
        }

        @media (min-width:1366px) {
            .xl\:-right-10 {
                right: -2.5rem
            }

            .xl\:my-12 {
                margin-bottom: 3rem;
                margin-top: 3rem
            }

            .xl\:mb-36 {
                margin-bottom: 9rem
            }

            .xl\:h-10 {
                height: 2.5rem
            }

            .xl\:w-8 {
                width: 2rem
            }

            .xl\:w-10 {
                width: 2.5rem
            }

            .xl\:w-12 {
                width: 3rem
            }

            .xl\:w-8\/12 {
                width: 66.666667%
            }

            .xl\:grid-cols-4 {
                grid-template-columns: repeat(4, minmax(0, 1fr))
            }

            .xl\:gap-8 {
                gap: 2rem
            }

            .xl\:gap-16 {
                gap: 4rem
            }

            .xl\:gap-20 {
                gap: 5rem
            }

            .xl\:pt-3 {
                padding-top: .75rem
            }

            .xl\:pt-10 {
                padding-top: 2.5rem
            }

            .xl\:pb-32 {
                padding-bottom: 8rem
            }

            .xl\:text-lg {
                font-size: 1.125rem;
                line-height: 1.75rem
            }

            .xl\:text-2xl {
                font-size: 1.5rem;
                line-height: 2rem
            }

            .xl\:text-3xl {
                font-size: 1.875rem;
                line-height: 2.25rem
            }

            .xl\:text-4xl {
                font-size: 2.25rem;
                line-height: 2.5rem
            }

            .xl\:text-5xl {
                font-size: 3rem;
                line-height: 1
            }

            .xl\:text-6xl {
                font-size: 3.75rem;
                line-height: 1
            }

            .xl\:text-8xl {
                font-size: 6rem;
                line-height: 1
            }
        }

        @media (min-width:1680px) {
            .\32xl\:container {
                width: 100%
            }

            @media (min-width:350px) {
                .\32xl\:container {
                    max-width: 350px
                }
            }

            @media (min-width:400px) {
                .\32xl\:container {
                    max-width: 400px
                }
            }

            @media (min-width:648px) {
                .\32xl\:container {
                    max-width: 648px
                }
            }

            @media (min-width:764px) {
                .\32xl\:container {
                    max-width: 764px
                }
            }

            @media (min-width:1024px) {
                .\32xl\:container {
                    max-width: 1024px
                }
            }

            @media (min-width:1366px) {
                .\32xl\:container {
                    max-width: 1366px
                }
            }

            @media (min-width:1680px) {
                .\32xl\:container {
                    max-width: 1680px
                }
            }

            .\32xl\:top-32 {
                top: 8rem
            }

            .\32xl\:top-44 {
                top: 11rem
            }

            .\32xl\:top-48 {
                top: 12rem
            }

            .\32xl\:bottom-12 {
                bottom: 3rem
            }

            .\32xl\:-mx-12 {
                margin-left: -3rem;
                margin-right: -3rem
            }

            .\32xl\:mt-8 {
                margin-top: 2rem
            }

            .\32xl\:h-10 {
                height: 2.5rem
            }

            .\32xl\:w-10 {
                width: 2.5rem
            }

            .\32xl\:w-60 {
                width: 15rem
            }

            .\32xl\:gap-8 {
                gap: 2rem
            }

            .\32xl\:gap-10 {
                gap: 2.5rem
            }

            .\32xl\:gap-20 {
                gap: 5rem
            }

            .\32xl\:pt-6 {
                padding-top: 1.5rem
            }

            .\32xl\:pt-40 {
                padding-top: 10rem
            }

            .\32xl\:pb-6 {
                padding-bottom: 1.5rem
            }

            .\32xl\:pl-10 {
                padding-left: 2.5rem
            }

            .\32xl\:text-2xl {
                font-size: 1.5rem;
                line-height: 2rem
            }

            .\32xl\:text-3xl {
                font-size: 1.875rem;
                line-height: 2.25rem
            }

            .\32xl\:text-4xl {
                font-size: 2.25rem;
                line-height: 2.5rem
            }

            .\32xl\:text-6xl {
                font-size: 3.75rem;
                line-height: 1
            }
        }

        .home-container .bg-image {
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: cover
        }

        .home-container .border-1 {
            border-width: 1px
        }

        .home-container .bg-purple {
            background-image: url(../assets/bg_purple.png)
        }

        .home-container .bg-blue {
            background-image: url(../assets/bg_blue.png)
        }

        .home-container .bg-green {
            background-image: url(../assets/bg_green.png)
        }

        .home-container .top-header {
            background-image: url(../assets/top_back.png);
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: cover
        }

        .home-container .top-header .home-title {
            text-shadow: 4px 3px 8px #000
        }

        .home-container .homeItems-box {
            background-color: #090c18
        }

        .home-container .homeItems-box .border-purple {
            border: 1px solid #5c35a0
        }

        .home-container .homeItems-box .border-blue {
            border: 1px solid #3b53ac
        }

        .home-container .homeItems-box .border-green {
            border: 1px solid #3587a1
        }

        .home-container .introduction {
            background-image: url(../assets/bg_intro.png);
            background-repeat: no-repeat;
            background-size: cover
        }

        .home-container .factions {
            background-image: url(../assets/bg_faction.png)
        }

        .home-container .factions,
        .home-container .faq {
            background-repeat: no-repeat;
            background-size: cover
        }

        .home-container .faq {
            background-image: url(../assets/bg_faq.png);
            background-position: 50%
        }

        .home-container .faq .faq-subject {
            background-image: url(../assets/bg_faq_item.png);
            background-repeat: no-repeat;
            background-size: cover
        }

        .home-container .teams {
            background-image: url(../assets/bg_team.png);
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: cover
        }

        .home-container .teams .team-panel {
            background-image: url(../assets/team_panel1.png);
            background-repeat: no-repeat;
            background-size: contain
        }

        .home-container .teams .team-panel .bg-team-panel {
            background-color: #262626
        }

        .match-container {
            background: url(../matchup_page/bg.png);
            min-height: calc(100vh - 100px)
        }

        .match-container,
        .prizes-container .top-header {
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: cover
        }

        .prizes-container .top-header {
            background-image: url(../prizes_page/bg_top.png);
            min-height: 400px
        }

        .prizes-container .bg-blue {
            background-image: url(../prizes_page/bg_blue.png)
        }

        .prizes-container .bg-blue,
        .seasons-container {
            background-repeat: no-repeat;
            background-size: cover
        }

        .seasons-container {
            background-image: url(../seasons_page/bg.svg);
            background-position: 50%
        }
    </style>
    <meta name="generator" content="Gatsby 4.2.0" />
    <style>
        .gatsby-image-wrapper {
            position: relative;
            overflow: hidden
        }

        .gatsby-image-wrapper picture.object-fit-polyfill {
            position: static !important
        }

        .gatsby-image-wrapper img {
            bottom: 0;
            height: 100%;
            left: 0;
            margin: 0;
            max-width: none;
            padding: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            object-fit: cover
        }

        .gatsby-image-wrapper [data-main-image] {
            opacity: 0;
            transform: translateZ(0);
            transition: opacity .25s linear;
            will-change: opacity
        }

        .gatsby-image-wrapper-constrained {
            display: inline-block;
            vertical-align: top
        }
    </style><noscript>
        <style>
            .gatsby-image-wrapper noscript [data-main-image] {
                opacity: 1 !important
            }

            .gatsby-image-wrapper [data-placeholder-image] {
                opacity: 0 !important
            }
        </style>
    </noscript>
    <script
        type="module">const e = "undefined" != typeof HTMLImageElement && "loading" in HTMLImageElement.prototype; e && document.body.addEventListener("load", (function (e) { if (void 0 === e.target.dataset.mainImage) return; if (void 0 === e.target.dataset.gatsbyImageSsr) return; const t = e.target; let a = null, n = t; for (; null === a && n;)void 0 !== n.parentNode.dataset.gatsbyImageWrapper && (a = n.parentNode), n = n.parentNode; const o = a.querySelector("[data-placeholder-image]"), r = new Image; r.src = t.currentSrc, r.decode().catch((() => { })).then((() => { t.style.opacity = 1, o && (o.style.opacity = 0, o.style.transition = "opacity 500ms linear") })) }), !0);</script>
    <link rel="icon" href="../favicon-32x32fb93.png?v=6ad4eae273e38b94c27bc97d93e70d35" type="image/png" />
    <link rel="manifest" href="../manifest.webmanifest" crossorigin="anonymous" />
    <link rel="apple-touch-icon" sizes="48x48" href="../icons/icon-48x48fb93.png?v=6ad4eae273e38b94c27bc97d93e70d35" />
    <link rel="apple-touch-icon" sizes="72x72" href="../icons/icon-72x72fb93.png?v=6ad4eae273e38b94c27bc97d93e70d35" />
    <link rel="apple-touch-icon" sizes="96x96" href="../icons/icon-96x96fb93.png?v=6ad4eae273e38b94c27bc97d93e70d35" />
    <link rel="apple-touch-icon" sizes="144x144"
        href="../icons/icon-144x144fb93.png?v=6ad4eae273e38b94c27bc97d93e70d35" />
    <link rel="apple-touch-icon" sizes="192x192"
        href="../icons/icon-192x192fb93.png?v=6ad4eae273e38b94c27bc97d93e70d35" />
    <link rel="apple-touch-icon" sizes="256x256"
        href="../icons/icon-256x256fb93.png?v=6ad4eae273e38b94c27bc97d93e70d35" />
    <link rel="apple-touch-icon" sizes="384x384"
        href="../icons/icon-384x384fb93.png?v=6ad4eae273e38b94c27bc97d93e70d35" />
    <link rel="apple-touch-icon" sizes="512x512"
        href="../icons/icon-512x512fb93.png?v=6ad4eae273e38b94c27bc97d93e70d35" />
    <link as="script" rel="preload" href="../webpack-runtime-0a9b1aeb7c148fbe7fc3.js" />
    <link as="script" rel="preload" href="../framework-bf80bff0de5fd6b3dfd9.js" />
    <link as="script" rel="preload" href="../app-6e76baa62be65edf9b27.js" />
    <link as="script" rel="preload" href="../9c101fa2f3f93d1850454e6ba7c91a7f82e717e2-eee439f6a7509e132708.js" />
    <link as="script" rel="preload" href="../component---src-pages-seasons-js-02c2a4ea92065b2f9aa9.js" />
    <link as="fetch" rel="preload" href="../page-data/seasons/page-data.json" crossorigin="anonymous" />
    <link as="fetch" rel="preload" href="../page-data/app-data.json" crossorigin="anonymous" />
</head>

<body>
    <div id="___gatsby">
        <div style="outline:none" tabindex="-1" id="gatsby-focus-wrapper">
            <div class="relative flex flex-col font-brookline">
                <main class="max-w-full flex-grow flex flex-col  ">
                    <div class="relative">
                        <div
                            class="bg-app-orange-trans flex justify-start h-16 md:h-20 lg:h-24 md:rounded-b-big w-full md:w-10/12  absolute top-0 z-50 left-1/2 transform -translate-x-1/2 font-brookline items-center 2xl:container">
                            <div class="hidden lg:flex items-center justify-between w-full px-10 md:px-5 lg:px-12"><a
                                    href="../index.html"><img src="../assets/logo.png" alt="logo"
                                        class="h-10 lg:h-full" /></a>
                                <div class="flex items-center justify-between">
                                    <ul
                                        class="flex items-center justify-around md:gap-0 2xl:gap-10 text-white menu-links">
                                        <li
                                            class="font-action-man-bold cursor-pointer font-recoleta-bold text-secondary hover:bg-primary rounded-lg py-2 px-1 md:px-0 lg:px-1 text-xl md:text-md xl:text-2xl 2xl:text-3xl">
                                            <a class="no-underline px-2" href="../index.html" target="">Home</a></li>
                                        <li
                                            class="font-action-man-bold cursor-pointer font-recoleta-bold text-secondary hover:bg-primary rounded-lg py-2 px-1 md:px-0 lg:px-1 text-xl md:text-md xl:text-2xl 2xl:text-3xl">
                                            <a class="no-underline px-2" href="../prizes/index.html"
                                                target="">Prizes</a></li>
                                        <li
                                            class="font-action-man-bold cursor-pointer font-recoleta-bold text-secondary hover:bg-primary rounded-lg py-2 px-1 md:px-0 lg:px-1 text-xl md:text-md xl:text-2xl 2xl:text-3xl">
                                            <a class="no-underline px-2" href="../matchup/index.html"
                                                target="">MatchUp</a></li>
                                        <li
                                            class=" font-action-man-bold cursor-pointer font-recoleta-bold text-secondary hover:bg-primary rounded-lg py-2 px-1 md:px-0 lg:px-1 text-xl xl:text-2xl 2xl:text-3xl">
                                            <a href="../pdf/RAGNAROK_WHITEPAPER2.pdf" class="px-2"
                                                download="">litepaper</a></li>
                                    </ul>
                                    <ul
                                        class="flex items-center justify-between gap-6 md:gap-4 2xl:gap-8 pl-4 2xl:pl-10">
                                        <li><a href="https://discord.gg/xDrcwSGVxR" target="_blank"
                                                rel="noreferrer"><img src="../icons/ic_discord.svg" alt="social icon"
                                                    class="w-8 h-8 2xl:w-10 2xl:h-10" /></a></li>
                                        <li><a href="https://twitter.com/ragnarok_nft" target="_blank"
                                                rel="noreferrer"><img src="../icons/ic_twitter.svg" alt="social icon"
                                                    class="w-8 h-8 2xl:w-10 2xl:h-10" /></a></li>
                                        <li><a href="https://www.instagram.com/ragnaroknft/" target="_blank"
                                                rel="noreferrer"><img src="../icons/ic_instagram.svg" alt="social icon"
                                                    class="w-8 h-8 2xl:w-10 2xl:h-10" /></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div
                                class="justify-between absolute px-12 w-full z-10 lg:hidden text-white cursor-pointer text-2xl flex  items-center">
                                <img src="../assets/logo.png" alt="logo" /><button class="font-pwjn"><img
                                        src="../icons/ic_menu.svg" alt="menu" /></button></div>
                        </div>
                        <div
                            class="seasons-container overflow-hidden relative pb-12 pt-32  xl:pb-32 md:px-24 font-bebas">
                            <p
                                class="text-center text-5xl lg:text-8xl uppercase text-app-purple-100 font-normal lg:mt-8">
                                seasons</p>
                            <div class="relative my-8 lg:my-12 xl:my-12 sm:block hidden container mx-auto"><img
                                    src="../seasons_page/line_pc_total.png" alt="line"
                                    class="col-start-1 col-end-8 row-start-2 row-end-6" />
                                <div class="grid grid-cols-7 grid-rows-6 absolute top-0 bottom-0 left-0 right-0">
                                    <div class="col-start-1 row-start-3 flex justify-center items-end"><img
                                            src="../seasons_page/blue.png" class="w-8 lg:w-10 xl:w-12 transform"
                                            alt="active" /></div>
                                    <div class=" col-start-2 row-start-4 relative flex items-center justify-end"><img
                                            src="../seasons_page/white.svg"
                                            class="w-6 lg:w-8 xl:w-10 transform -translate-x-1/2 translate-y-2"
                                            alt="inactive" /></div>
                                    <div class=" col-start-4 row-start-5 relative flex items-end justify-start"><img
                                            src="../seasons_page/white.svg"
                                            class="w-6 lg:w-8 xl:w-10 transform -translate-x-1/4 translate-y-1/4"
                                            alt="inactive" /></div>
                                    <div class=" col-start-4 row-start-4 relative flex items-start justify-center"><img
                                            src="../seasons_page/white.svg"
                                            class="w-6 lg:w-8 xl:w-10 transform translate-x-1/3 translate-y-2"
                                            alt="inactive" /></div>
                                    <div class="col-start-5 row-start-2 relative flex items-center justify-center"><img
                                            src="../seasons_page/white.svg"
                                            class="w-6 lg:w-8 xl:w-10 transform -translate-x-full " alt="inactive" />
                                    </div>
                                    <div class="col-start-6 row-start-3 relative flex items-end justify-start"><img
                                            src="../seasons_page/white.svg"
                                            class="w-6 lg:w-8 xl:w-10 transform -translate-y-1/3" alt="inactive" />
                                    </div>
                                    <div class="col-start-6 row-start-4 relative flex items-end justify-end"><img
                                            src="../seasons_page/white.svg"
                                            class="w-6 lg:w-8 xl:w-10 transform -translate-y-1/3" alt="inactive" />
                                    </div>
                                    <div class="col-start-7 row-start-3 relative flex items-center justify-center"><img
                                            src="../seasons_page/white.svg"
                                            class="w-6 lg:w-8 xl:w-10 transform translate-x-1/2" alt="inactive" /></div>
                                    <div class="uppercase whitespace-nowrap col-start-1 row-start-3 relative">
                                        <div class="absolute flex flex-col bottom-1/2 -left-2">
                                            <p class="leading-4 lg:text-4xl xl:text-5xl text-white">SEASON 1</p>
                                            <div class="flex items-center">
                                                <p
                                                    class="leading-4 lg:text-2xl xl:text-4xl text-app-purple-100 mr-2 lg:mr-4">
                                                    Artist: riotg3ar</p><a href="https://twitter.com/RIOTG3AR"
                                                    target="_blank" rel="noreferrer"><img
                                                        src="../icons/ic_twitter_purple.svg" alt="social icon"
                                                        class="w-4 lg:w-6 xl:w-8 -mt-1" /></a>
                                            </div>
                                            <p class="leading-4 lg:text-2xl xl:text-4xl text-app-purple-100">theme:
                                                norse mythology</p>
                                        </div>
                                    </div>
                                    <div class="uppercase whitespace-nowrap col-start-2 row-start-3 relative">
                                        <div class="absolute flex flex-col bottom-0 left-2/3">
                                            <p class="leading-4 lg:text-3xl xl:text-5xl text-white">SEASON 2</p>
                                            <p class="leading-4 lg:text-2xl xl:text-4xl text-app-purple-100">coming soon
                                            </p>
                                        </div>
                                    </div>
                                    <div class="uppercase whitespace-nowrap col-start-3 row-start-6 relative">
                                        <div class="absolute flex flex-col bottom-0 transform translate-y-3 left-1/2">
                                            <p class="leading-4 lg:text-3xl xl:text-5xl text-white">SEASON 3</p>
                                            <p class="leading-4 lg:text-2xl xl:text-4xl text-app-purple-100">coming soon
                                            </p>
                                        </div>
                                    </div>
                                    <div class="uppercase whitespace-nowrap col-start-4 row-start-5 relative">
                                        <div class="absolute flex flex-col top-0 transform left-1/2">
                                            <p class="leading-4 lg:text-3xl xl:text-5xl text-white">SEASON 4</p>
                                            <p class="leading-4 lg:text-2xl xl:text-4xl text-app-purple-100">coming soon
                                            </p>
                                        </div>
                                    </div>
                                    <div class="uppercase whitespace-nowrap col-start-5 row-start-1 relative">
                                        <div class="absolute flex flex-col transform bottom-0 -translate-x-1/2 left-0">
                                            <p class="leading-4 lg:text-3xl xl:text-5xl text-white">SEASON 5</p>
                                            <p class="leading-4 lg:text-2xl xl:text-4xl text-app-purple-100">coming soon
                                            </p>
                                        </div>
                                    </div>
                                    <div class="uppercase whitespace-nowrap col-start-6 row-start-2 relative">
                                        <div class="absolute flex flex-col bottom-0 transform left-2">
                                            <p class="leading-4 lg:text-3xl xl:text-5xl text-white">SEASON 6</p>
                                            <p class="leading-4 lg:text-2xl xl:text-4xl text-app-purple-100">coming soon
                                            </p>
                                        </div>
                                    </div>
                                    <div class="uppercase whitespace-nowrap col-start-6 row-start-5 relative">
                                        <div class="absolute flex flex-col top-0 transform left-10">
                                            <p class="leading-4 lg:text-3xl xl:text-5xl text-white">SEASON 7</p>
                                            <p class="leading-4 lg:text-2xl xl:text-4xl text-app-purple-100">coming soon
                                            </p>
                                        </div>
                                    </div>
                                    <div class="uppercase whitespace-nowrap col-start-7 row-start-2 relative">
                                        <div class="absolute flex flex-col bottom-0 transform left-1/3 xl:-right-10">
                                            <p class="leading-4 lg:text-3xl xl:text-5xl text-white">SEASON 8</p>
                                            <p class="leading-4 lg:text-2xl xl:text-4xl text-app-purple-100">coming soon
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="relative sm:hidden flex flex-col px-4 mt-8">
                                <div class=" flex flex-col gap-2 relative"><img src="../seasons_page/line_ph.png"
                                        alt="phoneline"
                                        class="absolute top-12 h-full bottom-0 left-1/3 tiny:left-1/2 transform translate-x-8 tiny:translate-x-5"
                                        style="height:90%" />
                                    <div class="flex justify-between gap-4"><img src="../seasons_page/map_1.png"
                                            alt="map" class="w-1/3" />
                                        <div
                                            class="flex items-center gap-2 tiny:w-1/2 w-2/3 relative overflow-y-hidden">
                                            <img src="../seasons_page/blue.png" alt="active" class="w-10" />
                                            <div class="flex flex-col">
                                                <p class="leading-7 text-4xl text-white">SEASON 1</p>
                                                <div class="flex items-center">
                                                    <p class="leading-7 text-2xl text-app-purple-100 mr-2">Artist:
                                                        riotg3ar</p><a href="https://twitter.com/RIOTG3AR"
                                                        target="_blank" rel="noreferrer"><img
                                                            src="../icons/ic_twitter_purple.svg" alt="social icon"
                                                            class="w-6 -mt-1" /></a>
                                                </div>
                                                <p class="leading-7 text-2xl text-app-purple-100">theme: norse mythology
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex justify-between gap-4"><img src="../seasons_page/map_2.png"
                                            alt="map" class="w-1/3" />
                                        <div
                                            class="flex items-center gap-2 tiny:w-1/2 w-2/3 relative overflow-y-hidden">
                                            <img src="../seasons_page/white.svg" alt="inactive" class="w-8 ml-1" />
                                            <div class="flex flex-col">
                                                <p class="leading-7 text-4xl text-white">SEASON 2</p>
                                                <p class="leading-7 text-2xl text-app-purple-100">coming soon</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex justify-between gap-4"><img src="../seasons_page/map_3.png"
                                            alt="map" class="w-1/3" />
                                        <div
                                            class="flex items-center gap-2 tiny:w-1/2 w-2/3 relative overflow-y-hidden">
                                            <img src="../seasons_page/white.svg" alt="inactive" class="w-8 ml-1" />
                                            <div class="flex flex-col">
                                                <p class="leading-7 text-4xl text-white">SEASON 3</p>
                                                <p class="leading-7 text-2xl text-app-purple-100">coming soon</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex justify-between gap-4"><img src="../seasons_page/map_4.png"
                                            alt="map" class="w-1/3" />
                                        <div
                                            class="flex items-center gap-2 tiny:w-1/2 w-2/3 relative overflow-y-hidden">
                                            <img src="../seasons_page/white.svg" alt="inactive" class="w-8 ml-1" />
                                            <div class="flex flex-col">
                                                <p class="leading-7 text-4xl text-white">SEASON 4</p>
                                                <p class="leading-7 text-2xl text-app-purple-100">coming soon</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex justify-between gap-4"><img src="../seasons_page/map_5.png"
                                            alt="map" class="w-1/3" />
                                        <div
                                            class="flex items-center gap-2 tiny:w-1/2 w-2/3 relative overflow-y-hidden">
                                            <img src="../seasons_page/white.svg" alt="inactive" class="w-8 ml-1" />
                                            <div class="flex flex-col">
                                                <p class="leading-7 text-4xl text-white">SEASON 5</p>
                                                <p class="leading-7 text-2xl text-app-purple-100">coming soon</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex justify-between gap-4"><img src="../seasons_page/map_6.png"
                                            alt="map" class="w-1/3" />
                                        <div
                                            class="flex items-center gap-2 tiny:w-1/2 w-2/3 relative overflow-y-hidden">
                                            <img src="../seasons_page/white.svg" alt="inactive" class="w-8 ml-1" />
                                            <div class="flex flex-col">
                                                <p class="leading-7 text-4xl text-white">SEASON 6</p>
                                                <p class="leading-7 text-2xl text-app-purple-100">coming soon</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex justify-between gap-4"><img src="../seasons_page/map_7.png"
                                            alt="map" class="w-1/3" />
                                        <div
                                            class="flex items-center gap-2 tiny:w-1/2 w-2/3 relative overflow-y-hidden">
                                            <img src="../seasons_page/white.svg" alt="inactive" class="w-8 ml-1" />
                                            <div class="flex flex-col">
                                                <p class="leading-7 text-4xl text-white">SEASON 7</p>
                                                <p class="leading-7 text-2xl text-app-purple-100">coming soon</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex justify-between gap-4"><img src="../seasons_page/map_8.png"
                                            alt="map" class="w-1/3" />
                                        <div
                                            class="flex items-center gap-2 tiny:w-1/2 w-2/3 relative overflow-y-hidden">
                                            <img src="../seasons_page/white.svg" alt="inactive" class="w-8 ml-1" />
                                            <div class="flex flex-col">
                                                <p class="leading-7 text-4xl text-white">SEASON 8</p>
                                                <p class="leading-7 text-2xl text-app-purple-100">coming soon</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="relative bg-black  px-12 ">
                            <div class="container flex flex-col justify-center gap-1 mx-auto items-center  h-24 ">
                                <div class="flex justify-between lg:justify-around w-full items-center"><img
                                        src="../assets/logo.png" alt="footer logo" class="h-5 sm:h-10 md:h-max" /><a
                                        href="https://masterbrews.com/" target="_blank" rel="noreferrer"><img
                                            src="../assets/powered.png" alt="powered"
                                            class="hidden md:block h-12 md:h-10 lg:h-full" /></a>
                                    <div class="gap-6 xl:gap-8 items-center flex justify-between"><a
                                            href="https://discord.gg/xDrcwSGVxR" target="_blank" rel="noreferrer"><img
                                                src="../icons/ic_discord.svg" alt="social link"
                                                class="w-6 h-6 sm:w-8 sm:h-8 xl:w-10 xl:h-10" /></a><a
                                            href="https://twitter.com/ragnarok_nft" target="_blank"
                                            rel="noreferrer"><img src="../icons/ic_twitter.svg" alt="social link"
                                                class="w-6 h-6 sm:w-8 sm:h-8 xl:w-10 xl:h-10" /></a><a
                                            href="https://www.instagram.com/ragnaroknft/" target="_blank"
                                            rel="noreferrer"><img src="../icons/ic_instagram.svg" alt="social link"
                                                class="w-6 h-6 sm:w-8 sm:h-8 xl:w-10 xl:h-10" /></a><a
                                            href="https://raritysniper.com/nft-drops-calendar" target="_blank"
                                            rel="noreferrer"><img src="../icons/ic_nft_drop.svg" alt="social link"
                                                class="w-6 h-6 sm:w-8 sm:h-8 xl:w-10 xl:h-10" /></a></div>
                                </div><img src="../assets/powered.png" alt="powered"
                                    class="block md:hidden sm:h-12 " />
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <div id="gatsby-announcer"
            style="position:absolute;top:0;width:1px;height:1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);white-space:nowrap;border:0"
            aria-live="assertive" aria-atomic="true"></div>
    </div>
    <script id="gatsby-script-loader">/*<![CDATA[*/window.pagePath = "index.html";/*]]>*/</script>
    <script
        id="gatsby-chunk-mapping">/*<![CDATA[*/window.___chunkMapping = { "polyfill": ["/polyfill-b9aadeafffe45415889c.js"], "app": ["/app-6e76baa62be65edf9b27.js"], "component---src-pages-404-js": ["/component---src-pages-404-js-c1d48295dcc5581751b2.js"], "component---src-pages-index-js": ["/component---src-pages-index-js-18b4c4fd91449caad351.js"], "component---src-pages-matchup-js": ["/component---src-pages-matchup-js-1bc611c95e68af002c5a.js"], "component---src-pages-prizes-js": ["/component---src-pages-prizes-js-63330e6dda9533cb2769.js"], "component---src-pages-seasons-js": ["/component---src-pages-seasons-js-02c2a4ea92065b2f9aa9.js"] };/*]]>*/</script>
    <script src="../polyfill-b9aadeafffe45415889c.js" nomodule=""></script>
    <script src="../component---src-pages-seasons-js-02c2a4ea92065b2f9aa9.js" async=""></script>
    <script src="../9c101fa2f3f93d1850454e6ba7c91a7f82e717e2-eee439f6a7509e132708.js" async=""></script>
    <script src="../app-6e76baa62be65edf9b27.js" async=""></script>
    <script src="../framework-bf80bff0de5fd6b3dfd9.js" async=""></script>
    <script src="../webpack-runtime-0a9b1aeb7c148fbe7fc3.js" async=""></script>
</body>
<!-- Mirrored from rrok.game/seasons/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 18 Apr 2022 17:34:48 GMT -->

</html>